.grid{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(5, auto);
  grid-gap: 9px;
  background-color: #d6d8db;
  padding: 10px;
}

.grid .div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 40px;
  font-size: 15px;
}



#hire {
    font-family: courier;
    text-transform: uppercase;
    background-color: grey;
    grid-area: 1 / 1 / span 1 / span 4;
    color: white;
  }


#menu-area {
    background-color: white;
    grid-area: 2 / 1 / span 5 / span 1;
}

#dashboard {
    grid-area: 2 / 2 / span 1 / span 3; 
    font-family: courier;
    font-weight: bold;
    font-size: 40px;
}

#postJob {
    grid-area: 2 / 4 / span 1 / span 1;  
}

#availableJobs {
  font-family: courier;
  background-color: white;
  grid-area: 3 / 2 / span 1 / span 3;
  font-size: 30px;
  font-weight: bold;
}

#jobsApplied {
    font-family: courier;
    background-color: white;
    grid-area: 5 / 2 / span 1 / span 3;
    font-size: 30px;
    font-weight: bold;
}

.company {
  grid-area: 4 / 1 / span 1 / span 1;
}


.jobTitle {
    grid-area: 4 / 2 / span 1 / span 1;
}

.category {
    grid-area: 4 / 3 / span 1 / span 1;
}

.date {
    grid-area: 4 / 4 / span 1 / span 1;
}

#availablecontent{
  grid-area: 4 / 2 / span 1 / span 3;
}

#appliedcontent{
   grid-area: 6 / 2 / span 1 / span 3;
}

label{
 padding-left: 20px;
  padding-right: 180px;
}


